@import url('https://fonts.googleapis.com/css2?family=Abel&family=Balsamiq+Sans&family=Fruktur&family=Irish+Grover&family=Lato:ital,wght@1,300&family=Open+Sans&family=Pacifico&family=Roboto+Flex:opsz@8..144&family=Ubuntu:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Abel', sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
  background-color: rgba(5, 3, 5, 0.85);
  background-image: url("/static/Images/templat/main-bg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  // TODO Розібоатись з блюром
  //backdrop-filter: blur(5px);
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// *end of browser downwarn
// navbar
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2000;

  &-menu {
    background-color: rgba(4, 5, 1, 0.2);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a, span {
      font-family: 'Abel', sans-serif;
      text-decoration: none;
      line-height: 125%;
      color: white;
    }

    &-links {
      display: flex;
      align-items: center;

      a {
        font-size: 24px;
        margin-left: 50px;
      }

      a:hover {
        border-bottom: 1px solid white;
        transition: 1.6s ease-out;
      }

      a:first-child {
        margin-left: 100px;
      }
    }

    &-acaunt {
      height: 35px;
      width: auto;
      background: rgba(11, 2, 6, 0.91);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 20px;
      margin-right: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;

      img {
        width: 25px;
        height: auto;
      }

      &-login {
        display: flex;
        align-items: center;

        a {
          font-size: 20px;
        }

        a:hover {
          color: rgb(83, 155, 185)
        }
      }
    }
  }
}

// main
.main {
  &-header {
    img {
      width: 100%;
      height: auto;
      box-shadow: 0 15px 25px rgba(1, 1, 1, 0.40);
    }
  }

  &-citats {
    margin-top: 30px;

    p {
      font-size: 30px;
      text-align: center;
      font-style: italic;
      color: white;
    }
  }

  &-albums {

    &-swiper {
      width: 950px;

      &-wrapper {

        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;

          &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            height: 350px;
            width: 250px;
            overflow: hidden;
            transform: skewX(-10deg);

            img {
              display: block;
              height: 350px;
            }

            p {
              width: 100%;
              display: none;
              background-color: rgba(4, 5, 1, 0.5);
              color: white;
              position: absolute;
              bottom: 0;
            }
          }

          &-img:hover {
            p {
              display: block;
              transition: 0.5s;
            }
          }

          &-img > * {
            transform: skew(10deg);
          }
        }
      }

      &-button::after {
        color: white;
        overflow: visible;
        z-index: 200;
      }

      div.next {
        right: 0;
      }

      div.prev {
        left: 0;
      }
    }
  }
}

//create album
.create-album {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  backdrop-filter: blur(0);

  &-panel {
    width: 500px;
    height: 500px;
    background: rgba(130, 138, 138, 0.78);
    border: 2px solid rgba(110, 118, 118, 1);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    h1 {
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    form {
      margin-top: 20px;
      width: 80%;
      //display: flex;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      .create-album-data {
        &-field {
          display: flex;
          flex-direction: column;

          input[type="text"] {
            height: 40px;
            border: 2px solid #11332a;
            border-radius: 10px;
            font-size: 20px;
          }

          input[type="file"]::-webkit-file-upload-button {
            visibility: hidden;

          }

          input[type="file"] {
            border: 2px solid #11332a;
            border-radius: 10px;
            -webkit-user-select: none;
            cursor: pointer;
            z-index: 200;
            background-color: white;
            background-image: url("/static/Images/templat/photo.png");
            background-size: 40px 40px;
            background-position: center;
            background-repeat: no-repeat;
            height: 250px;
            width: 250px;
            color: white;
          }

          input[type="submit"] {
            margin-top:20px;
            width: 250px;
            height: 50px;
            border: 2px solid #11332a;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
          }
          label {
            color:white;
            text-shadow:2px 2px black;
          }
        }
      }


      //div {
      //  border: 1px dashed #6d1c50;
      //}
    }
  }
}