{% extends 'pyrotemplate.html' %}

{% block title %}
    Додавання Альбому
{% endblock %}

{% block body %}
    <div class="create-album">
        <div class="create-album-panel">
            <h1>Додавання Альбому</h1>
            <form action="/create-album" method="post" enctype="multipart/form-data">
                <div class="create-album-data">
                    <div class="create-album-data-field">
                        <label for="name">Назва</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="create-album-data-field">
                        <label for="file">Фото</label>
                        <input type="file" id="file" name="file">
                    </div>
                    <div class="create-album-data-field">
                        <input type="submit" value="Відправити">
                    </div>
                </div>
            </form>
            {% for el in albums %}
                <img src="{{ el.alb_img }}">
                <p>{{ el.alb_name }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}