{% extends 'pyrotemplate.html' %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block body %}
    <div class="main">
        <div class="main-header">
            <img src="/static/Images/templat/background.jpg" alt="navb">
        </div>
        <div class="main-citats">
            <p>Люди ищут себя в музыке, а я надеюсь окончательно в ней потеряться. </p>
        </div>
        <div class="main-albums">
            <div class="swiper main-albums-swiper">
                <div class="swiper-wrapper main-albums-swiper-wrapper">
                    {% for el in albums %}
                        <div class="swiper-slide main-albums-swiper-wrapper-slide" id="slide">
                            <div class="main-albums-swiper-wrapper-slide-img">
                                <img src="{{el.alb_img}}">
                                <p>{{ el.alb_name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next main-albums-swiper-button next"></div>
                <div class="swiper-button-prev main-albums-swiper-button prev"></div>
                <div class="main-albums-swiper-scrollbar"></div>
            </div>
        </div>
    </div>
{% endblock %}