<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-menu">
        <div class="navbar-menu-links">
            <a href="/">На Головну</a>
            <a href="/about">Про Пірокінезіса</a>
            <a href="/about-project">Про проект</a>
            <a href="/create-album">ADD ALBUM</a>
        </div>
        <div class="navbar-menu-acaunt">
            <img src="/static/Images/templat/login.png" alt="logo">
            <div class="navbar-menu-acaunt-login">
                <a href="/login">login</a>
                <span>/</span>
                <a href="/register">register</a>
            </div>
        </div>
    </div>
</div>
{% block body %}

{% endblock %}
<div class="footer">

</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>